@model HospitalProject.Models.DoctorDto
@{ 
    ViewBag.Title = "Details"; 
}

<h2>Doctor Details of : @Model.DoctorName</h2>
<div>
    <p>@Model.DepartmentID</p>
    <p>@Model.DoctorExpertise</p>
    <p>@Model.DoctorDesignation</p>
    <p>@Model.DoctorAge</p>
    <p>@Model.DoctorContactNumber</p>
    <p>@Model.DoctorExperience</p>
</div>

